{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}
{% block page_title %}Equipment Sets{% endblock %}

{% block body %}
    {% for loadout in equipmentLoadouts %}
        {% include 'governor/equipment/equipment_loadout.html.twig' with ({loadout: loadout, gov: gov, canEdit: canEdit}) only %}
    {% endfor %}

    <div class="card officer-actions mb-3 shadow-sm">
        <div class="card-header">
            <h5 class="mb-0">Actions</h5>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" href="{{ path('governor_equipment_loadout_add', {'id': gov.id}) }}">Add Set</a>
        </div>
    </div>
{% endblock %}
