{% extends 'base.html.twig' %}

{% block page_title %}{% endblock %}

{% block body %}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4>Upload Profile Claim</h4>
        </div>
        <div class="card-body">
            {% if profileClaim %}
                <p>Your profile claim has been created successfully.</p>
                <p>Please wait for it to be verified before creating another.</p>
                {% if profileClaimImage %}
                    <img class="img-fluid shadow mb-4" src="{{ asset(profileClaimImage) }}" alt="governor profile claim" />
                {% endif %}
                <p><a href="{{ path('index') }}" class="btn btn-primary">Return</a></p>
            {% else %}
                {% if imageUploadError %}
                    <p class="text-danger">{{ imageUploadError }}</p>
                {% endif %}
                <div>
                    {{ form(imageUploadForm) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
