{% extends 'base.html.twig' %}

{% block title %}Edit Governor{% endblock %}

{% block body %}
    <h1>Edit Governor</h1>

    {{ include('governor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('governor_index') }}">back to list</a>

    {{ include('governor/_delete_form.html.twig') }}
{% endblock %}
