{% extends 'base.html.twig' %}

{% block title %}Edit Commanders{% endblock %}
{% block page_title %}Edit Commanders{% endblock %}

{% block body %}
    <div class="card officer-actions mb-3  shadow-sm">
        <div class="card-header">
            <h5>Commander Skills</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            {% for commander in form.commanders %}
                {% include 'governor/edit_commander_field.html.twig' with {commander: commander} only %}
            {% endfor %}

            <div class="form-group">
                {{ form_widget(form.save) }}
                {{ form_widget(form.saveAndReturn, {'attr': {'class': 'btn btn-primary ml-2'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
