{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ gov.name }}</h1>
    {% if gov.alliance %}
        <h2>{{ gov.alliance }}</h2>
    {% endif %}
    {% include 'governor/stats.html.twig' with {gov: gov} only %}
    {% include 'governor/kvk_rankings.html.twig' with {gov: gov} only %}

    {% if is_granted('ROLE_OFFICER') %}
        {% include 'governor/officer_actions.html.twig' with {gov: gov} only %}
        {% include 'governor/officer_notes.html.twig' with {gov: gov} only %}
    {% endif %}
{% endblock %}
