{% extends 'base.html.twig' %}

{% block page_title %}{{ gov.name }}{% endblock %}

{% block body %}
    {% if gov.alliance %}
        <h3>{{ gov.alliance.displayName }}</h3>
    {% endif %}
    {% include 'governor/stats.html.twig' with {gov: gov} only %}
    {% include 'governor/kvk_rankings.html.twig' with {gov: gov} only %}

    {% if is_granted('ROLE_OFFICER') %}
        {% include 'governor/officer_actions.html.twig' with {gov: gov} only %}
        {% include 'governor/officer_notes.html.twig' with {gov: gov} only %}
    {% endif %}
{% endblock %}
