{% if gov.officerNotes %}
<div class="card mb-3 shadow-sm">
    <div class="card-header">
        <h3>Officer Notes</h3>
    </div>
    <div class="card-body">
        <div class="officer-notes">
            {% for officerNote in gov.officerNotes %}
                {% include 'governor/officer_note.html.twig' with {gov: gov, officerNote: officerNote} only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}