{% extends 'base.html.twig' %}

{% block page_title %}Open Profile Claims{% endblock %}

{% block body %}
    {% for claim in claims %}
        <a href="{{ path('governor_claim', {id: claim.id}) }}">{{ claim.user.discordUsername }} at {{ claim.created|date }}</a>
    {% endfor %}
{% endblock %}
