{% extends 'base.html.twig' %}

{% block page_title %}Profile Claims{% endblock %}

{% block body %}
    <div class="row">
        {% include 'officer/gov_profile_claims_col.html.twig' with({claims: openClaims, title: "Open"}) %}
        {% include 'officer/gov_profile_claims_col.html.twig' with({claims: missingGovClaims, title: "Missing Governor"}) %}
        {% include 'officer/gov_profile_claims_col.html.twig' with({claims: recentClaims, title: "Recent"}) %}
    </div>
{% endblock %}
