{% extends 'base.html.twig' %}

{% block page_title %}Officer Corner{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('governor_claims') }}">View Governor Claims</a>
{% endblock %}