*

!/assets/
!/bin/
!/config/
!/public/
!/src/
!/templates/
!/translations/
!/var/
!/.env
!/google_sheets_credentials.json
!/composer.*
!/symfony.lock
!/package.json
!/webpack.config.js
!/yarn.lock
!/docker/