<div class="col-sm">
    <div class="input-group input-group-sm mb-3 float-left">
        <div class="input-group-prepend">
            {{ form_label(field, null, {'label_attr': {'class': 'input-group-text'}}) }}
        </div>
        {{ form_widget(field) }}
    </div>
</div>