{% extends 'base.html.twig' %}

{% block page_title %}Import Governor Snapshots{% endblock %}

{% block body %}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h3>Import Actions</h3>
        </div>
        <div class="card-body mb-0">
        </div>
    </div>
{% endblock %}