{% extends 'base.html.twig' %}

{% block page_title %}Import Data{% endblock %}

{% block body %}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h3>Import Actions</h3>
        </div>
        <div class="card-body mb-0">
            <a class="btn btn-primary" href="{{ path('import_governors') }}">Import Governors</a>
        </div>
    </div>
{% endblock %}