{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>New Snapshot</h3>
    </div>
    <div class="card-body container">
        {{ form(form) }}
    </div>
</div>
{% endblock %}