<div class="input-group mb-3">
    <div class="input-group-prepend">
        {{ form_label(field, null, {'label_attr': {'class': 'input-group-text'}}) }}
    </div>
    {{ form_widget(field) }}
</div>