{% include 'search/search_form.html.twig' %}

{% if searchResult is not empty %}
    {% for gov in searchResult.governors %}
        {% if is_granted(constant('App\\Entity\\Role::ROLE_OFFICER')) and gov.user %}
            {% set actions %}
                <div class="search-pill pill-border">
                    <span class="pill-label">User</span> {{ gov.user.discordDisplayName }}
                </div>
            {% endset %}
        {% else %}
            {% set actions = '' %}
        {% endif %}
        {% include 'search/search_result_gov.html.twig' %}
    {% endfor %}
{% elseif featuredGovs|default %}
    <h2 class="m-3 mt-5">Featured Governors</h2>
    {% for gov in featuredGovs %}
        {% include 'search/search_result_gov.html.twig' %}
    {% endfor %}
{% endif %}
