<form>
    <div class="member-search input-group mb-3">
        <input
                type="text"
                name="search"
                value="{{ searchTerm|default }}"
                class="form-control form-control-lg w-75"
                placeholder="Search by player name or alliance"
                aria-label="Player name"
                aria-describedby="button-search"
        />
        <div class="input-group-append">
            <button class="input-group-text" type="submit" id="button-search">Search</button>
        </div>
    </div>
</form>