$blurple: #7289DA;

$hero-background: #002B8F;
$hero-text: #FFFFFF;

$expertise: #EFE459;

$tier-legendary: #ffe74a;
$tier-epic: rgba(186, 89, 239, 0.75);
$tier-elite: #59c0ef;
$tier-advanced: rgba(89, 239, 131, 0.76);

$status-active: #00A388;
$status-inactive: #EEEEEE;
$status-blacklisted: #FF4444;
