@import "~bootstrap/scss/bootstrap";

body {
    text-align: center;
}

.wrapper {
    margin: 80px auto;
    max-width: 1000px;
    text-align: left;
}

.user-login {
    float: right;
}

.welcome-title {
    font-size: 4em;
}

