$theme-colors: (
    "primary": #002B8F,
);

@import "~bootstrap/scss/bootstrap";
@import "_variables";

body {
    text-align: center;
}

.wrapper {
    margin: 40px auto;
    max-width: 1000px;
    text-align: left;
}

@import "pages/hero";
@import "pages/menu";
@import "pages/welcome";
@import "pages/search";
@import "pages/gov";
@import "pages/janvt";

.card-header a, .card-header a:hover, .card-header a:focus, .card-header a:active, .card-header a:visited {
    text-decoration: none;
}