.janvt {
  position:fixed;
  bottom:0;
  right:0;
  border-top-left-radius: 5px;
  padding: 0.2em 0.5em;
  border-top: 1px solid #efefef;
  font-weight: 800;
  border-left: 1px solid #efefef;
  background: #fff;
  color: #6f6f6f;
}

.janvt img {
  border-radius: 2em;
  width: 1.5em;
  vertical-align: middle;
}

a.janvt, a.janvt:visited, a.janvt:hover, a.janvt:active {
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
}