<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Lugal - K75{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper container">
            {% block user_login %}
                <div class="user-login">
                {% if app.user %}
                    {% include 'links.html.twig' with {} only %}
                {% else %}
                    <a href="{{ path('connect_discord_start') }}">login with Discord</a>
                {% endif %}
                </div>
            {% endblock %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
