{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thanks for your interest!</h1>
    <p>This site is currently only for K75 Lugal members.</p>
    <p>If you are a member, ping your officers to get the correct rights.</p>
{% endblock %}
