{% extends 'base.html.twig' %}

{% block title %}Kingdom Management{% endblock %}
{% block page_title %}{% endblock %}

{% block user_login %}{% endblock %}

{% block hero_class %}large{% endblock %}

{% block body %}
    <div class="welcome">
        <a class="login-with-discord" href="{{ path('connect_discord_start') }}">
            <span class="login-with">LOGIN WITH</span>
            <img src="{{ asset('images/discord.png') }}" alt=" Discord" />
        </a>
    </div>
{% endblock %}
