{% extends 'base.html.twig' %}

{% block user_login %}{% endblock %}

{% block hero %}
    <h1 class="welcome-title">Welcome to {{ site_title }}!</h1>
{% endblock %}

{% block body %}
    <div class="welcome">
        <a class="login-with-discord" href="{{ path('connect_discord_start') }}">
            <span class="login-with">LOGIN WITH</span>
            <img src="{{ asset('images/discord.png') }}" alt=" Discord" />
        </a>
    </div>
{% endblock %}
