{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thanks for your interest!</h1>
    <p>This site is currently only for K75 Lugal members.</p>

    {% if profileClaim %}
        <p>You have submitted your profile claim, please wait for an officer to verify you.</p>
        <img class="img-fluid" src="{{ asset(profileClaimImage) }}" alt="governor profile claim" />
    {% else %}
        <p>If you are a member, upload a screenshot of your profile and notify your officer to verify you.</p>
        {% if imageUploadError %}
            <p class="text-danger">{{ imageUploadError }}</p>
        {% endif %}
        <div>
            {{ form(imageUploadForm) }}
        </div>
    {% endif %}
{% endblock %}
